@import '../../props' ;

.navbar
{
	background-color: white ;
	transition: ease 0.3s ;
	.container
	{
		.navbar-brand
		{
			font-weight: bolder;
			letter-spacing: 2px;
			font-size: 20px;
			color: black ;
			span
			{
				color: $color ;
			}
			i
			{
				transition: 0.5s ;
			}
			&:hover
			{
				i
				{
					transform: rotate(360deg);
					
				}
			}
		}
		.collapse
		{
			ul
			{
				li
				{
					a
					{
						color: black;
						font-weight: bolder;
						transition: 0.3s ;
					}
				}
			}
		}
	}
}


.hover
{
	 &:after
	{
		content: '' ;
		height: 2px ;
		width: 100% ;
		position: absolute ;
		background-color: $color;
		transition: all ease 0.3s ;
		left: 0 ;
	}
	
}

.hover
{

	&:before, &:after
	{
		opacity: 0 ;
		
	}
	&:before
	{
		top: -10% ;
	}
	&:after
	{
		bottom: -30% ;
	}
	&:hover
	{
		&:before
		{
			top: 0 ;
			opacity: 1 ;
		}
		&:after
		{
			bottom: 0 ;
			opacity: 1 ;
		}
	}
}

.active
{
	&:before, &:after
	{
		opacity: 1 ;
	}
	&:before
	{
		top: 0 ;
	}
	&:after
	{
		bottom: 0 ;
	}
}

.navbar .navbar-nav .nav-item .nav-link:hover {
	color: $color;
  }
  

.navbar .navbar-nav .nav-item .nav-link.active {
  color: $color; 
}

	@media (max-width: 992px) {
		.hover{
		  &:before,
		  &:after {
			display: none; 
		  }
		  &:after {
			content: '';
			display: block;
			width: 100%;
			height: 2px;
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: $color; 
			transition: all ease 0.3s;
			opacity: 0; 
		  }
		  &:hover:before {
			opacity: 1; 
		  }

		  
		}
		
		.navbar-nav{
			width: max-content;
		}

		
	
		.navbar .navbar-nav .nav-item .nav-link.active::before,
		.navbar .navbar-nav .nav-item .nav-link.active::after {
		  content: ''; 
		  height: 2px;
		  width: 100%;
		  position: absolute;
		  background-color: $color;
		  transition: all ease 0.3s;
		  opacity: 1;
		}
	  
		

		
	}
	