@keyframes translation {
  0%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(10px);
    opacity: 0.3;
  }
}
@keyframes coloring {
  0%, 100% {
    color: #008080;
  }
  50% {
    color: grey;
  }
}
.navbar {
  background-color: white;
  transition: ease 0.3s;
}
.navbar .container .navbar-brand {
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 20px;
  color: black;
}
.navbar .container .navbar-brand span {
  color: #008080;
}
.navbar .container .navbar-brand i {
  transition: 0.5s;
}
.navbar .container .navbar-brand:hover i {
  transform: rotate(360deg);
}
.navbar .container .collapse ul li a {
  color: black;
  font-weight: bolder;
  transition: 0.3s;
}

.hover:after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #008080;
  transition: all ease 0.3s;
  left: 0;
}

.hover:before, .hover:after {
  opacity: 0;
}
.hover:before {
  top: -10%;
}
.hover:after {
  bottom: -30%;
}
.hover:hover:before {
  top: 0;
  opacity: 1;
}
.hover:hover:after {
  bottom: 0;
  opacity: 1;
}

.active:before, .active:after {
  opacity: 1;
}
.active:before {
  top: 0;
}
.active:after {
  bottom: 0;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #008080;
}

.navbar .navbar-nav .nav-item .nav-link.active {
  color: #008080;
}

@media (max-width: 992px) {
  .hover:before, .hover:after {
    display: none;
  }
  .hover:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #008080;
    transition: all ease 0.3s;
    opacity: 0;
  }
  .hover:hover:before {
    opacity: 1;
  }
  .navbar-nav {
    width: -moz-max-content;
    width: max-content;
  }
  .navbar .navbar-nav .nav-item .nav-link.active::before,
  .navbar .navbar-nav .nav-item .nav-link.active::after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #008080;
    transition: all ease 0.3s;
    opacity: 1;
  }
}

body.dark-mode .navbar {
  background-color: #333; 
  color: #fff; 
}

body.dark-mode .navbar .container .navbar-brand {
  color: #fff; 
}

body.dark-mode .navbar .container .navbar-brand span {
  color: #008080; 
}

body.dark-mode .navbar .container .navbar-brand i {
  color: #008080; 
}

body.dark-mode .navbar .container .collapse ul li a {
  color: #fff; 
}

body.dark-mode .hover:after {
  background-color: #008080; 
}

body.dark-mode .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #008080; 
}

body.dark-mode .navbar .navbar-nav .nav-item .nav-link.active {
  color: #008080;
}

body.dark-mode .form-check-label {
  color: #fff;
}

/* Add cursor pointer for light/dark mode toggle button */
.form-check-input {
  cursor: pointer;
}

.collapse {
  transition: height 0.5s ease, opacity 0.5s ease;
}

